<style>
  .region-select {
    -webkit-appearance: button;
    -moz-appearance: button;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #444;
    white-space: nowrap;
    background: #eceeef ;
    text-transform: uppercase;
    width: 100%;
    text-align-last: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>{{pageTitle}}</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card text-center">
      <div class="header">
        <h2>Pengguna</h2>
      </div>
      <div class="body pt-0">
        <div class="row">
          <div class="col-12 m-b-15">
            <h1><i class="icon-user"></i></h1>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="font-22 text-col-green font-weight-bold">
              <small class="font-12 text-col-dark d-block m-b-10">Supervisor</small>
              {{{totalProfiles.supervisor}}}
            </h4>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="font-22 text-col-blue font-weight-bold">
              <small class="font-12 text-col-dark d-block m-b-10">Operator</small>
              {{{totalProfiles.operator}}}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-6 col-sm-6">
    <div class="card" style="min-height: 211px;">
      <div class="header">
        <h2>Analysis Sasaran</h2>
        <ul class="header-dropdown">
          <li> <a onclick="location.reload()" style="cursor: pointer;" data-toggle="cardloading" data-loading-effect="pulse"><i
                class="icon-refresh"></i></a></li>
          <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="row text-center">
          {{#each top3}}
          <div class="col-4">
            <h4>{{value}} <span class="font-13 d-block mt-2">{{state}}</span></h4>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-8 col-md-12">
    <div class="card Sales_Overview">
      <div class="header">
        <h2>Jumlah Sasaran Mengikut Daerah</h2>
        <ul class="header-dropdown">
          <li> <a onclick="location.reload()" style="cursor: pointer;" data-toggle="cardloading" data-loading-effect="pulse"><i
                class="icon-refresh"></i></a></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another Action</a></li>
              <li><a href="javascript:void(0);">Something else</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <div id="Sales_Overview" class="ct-chart"></div>
        <div class="row" style="padding:10px;">
          <select class="region-select" onchange="regionSelection(event)">
            <option class="dropdown-menu dropdown-item" style="text-align:centre;" selected>Select Region</option>
          {{#each regions}}
            <option class="dropdown-menu dropdown-item" style="text-align:centre;" value="{{id}},{{name}}">{{name}}</option>
          {{/each}}
          </select>
        </div>
        <div id="cardSurvey" class="row" style="display: hide;">
          <div style="margin-bottom:10px;">
            <div class="body text-center">
              <h2 id="title" class="font700"></h2>
              <h2 id="jumlahSurvey"></h2>
              <span id="namaRegion"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2 class="text-center">Info Sasaran</h2>
      </div>
      <div class="body">
        <div class="row text-center">
          <div class="col-6 border-right border-bottom pb-4 pt-4">
            <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <label class="mb-0">Jumlah Sasaran</label>
                  <h4 class="font-30 font-weight-bold text-primary">{{formattedTotalSurveys}}</h4>
                </div>
                <div class="carousel-item">
                  <label class="mb-0">Sasaran Baru</label>
                  <h4 class="font-30 font-weight-bold text-success">{{formattedNewSurveysNumber}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 border-bottom pb-4 pt-4">
            <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <label class="mb-0">Tidak Wujud</label>
                  <h4 class="font-30 font-weight-bold text-warning">{{formattedNotExistNumber}}</h4>
                </div>
                <div class="carousel-item">
                  <label class="mb-0">Tiada Nombor</label>
                  <h4 class="font-30 font-weight-bold text-danger">{{formattedNotExistSurveys}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <h2 class="text-center">Completed</h2>
      </div>
      <div class="body">
        {{#each comments}}
          <div class="form-group text-capitalize">
            <label class="d-block">{{category}}<span class="float-right">{{percent}}</span></label>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="77"
                aria-valuemin="0" aria-valuemax="100" style="width: {{{percent}}};"></div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.sparkline').sparkline('html', {
      type: 'bar',
      barColor: '#7cb5ec',
      width: '30rem'
    })
  })

  async function regionSelection(event) {
    var arr = event.target.value.split(',');
    const regionName = arr[1];
    sessionStorage.setItem("region_id", arr[0])
    const region_id = arr[0];
    const res = await fetch(`{{url}}surveys/statistics/${region_id}`, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        Authorization: `bearer ${sessionStorage.getItem("token")}`,
        'Cache-Control': 'no-cache'
        }
      });
    var regionRecord = await res.json()
      
    if(regionRecord) {
      displaySasaran(regionRecord, regionName);
    }
  }

  function displaySasaran(sets, name) {
    var size = Object.keys(sets).length;
    document.getElementById("jumlahSurvey").innerHTML = size;
    document.getElementById("cardSurvey").style.display = "block";
    document.getElementById("namaRegion").innerHTML = name;
    document.getElementById("title").innerHTML = "<b><u>Jumlah Sasaran</u></b>"
  }
</script>