<style>
  td { text-transform: lowercase; }
  td:first-letter { text-transform: uppercase; }
</style>

<!-- Listing survey by region -->
<div id="list">
  <div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>Surveys</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item">Surveys</li>
        <li class="breadcrumb-item active">List</li>
      </ul>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>List of Surveys</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped datatable" id="addrowExample">
            <thead>
              <tr style="text-align: center;">
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Address</th>
                <th>Phone No.</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each surveys}}
                <tr class="gradeA" style="text-transform: capitalize;">
                  <td>{{name}}</td>
                  <td style="text-align: center;">{{gender}}</td>
                  <td style="text-align: center;">{{race}}</td>
                  <td>{{address}}</td>
                  <td style="text-align: center;">{{phone}}</td>
                  <td class="actions" style="text-align: center;">
                    <button class="btn btn-sm btn-pure btn-success on-success m-r-5 button-continue"
                      data-toggle="tooltip" onclick="survey('{{{name}}}')">Start Survey</button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr style="text-align: center;">
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Address</th>
                <th>Phone No.</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(() => {
    $("table.datatable").dataTable();
  })

  async function survey(name) {
    try {
      var surveys = {{{ json surveys }}}
      const surveyList = surveys.filter(survey => name == survey.name)
      sessionStorage.removeItem("targetedSurvey")
      sessionStorage.removeItem("phone")
      sessionStorage.setItem("targetedSurvey", JSON.stringify(surveyList))
      sessionStorage.setItem("phone", JSON.stringify(surveyList[0].phone))
      var profile = JSON.parse(sessionStorage.getItem("profile"))

      var id = surveyList[0].id;
      var formData = JSON.stringify({
        id: surveyList[0].id,
        gender: surveyList[0].gender,
        phone: surveyList[0].phone,
        race: surveyList[0].race,
        name:surveyList[0].name,
        address: surveyList[0].address,
        question_survey: null,
        comment: null,
        status_survey: null,
        call_duration: null,
        operator_id: profile.username,
        status_phone: null,
        status: 1
      });
      console.log(formData)
      const updateStatus = await fetch(`{{url}}survey/${id}/edit`, {
        method: "post",
        headers: {
        credentials: 'include',
        Accept: "application/json",
        "Content-type": "application/json",
        Authorization: `bearer ${sessionStorage.getItem("token")}`
        },
        body: formData
      });

      const pending = await updateStatus.json();

      if (pending.status) {
        window.location.href = "index.html#survey";
      } else {
        Swal.fire({
          title: "Fail",
          text: "Fail update status",
          type: "error"
        });
      }
    } catch (err) { 
      console.log(err) }
  }

</script>