<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>List of Questions</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item">Questions</li>
        <li class="breadcrumb-item active">List of Questions</li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h2>List of Questions</h2>
    </div>
    <div class="body">
      <div>
        <button class="btn btn-primary">Add New Question</button>
      </div>
      <div class="table-responsive">
        <table class="table center-aligned-table">
          <thead>
            <tr style="text-align: center">
              <th>Set #</th>
              <th>Set Name</th>
              <th>Date created</th>
              <th>No. of Questions</th>
              <th>Category</th>
              <th>Status</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
              <tr style="text-align: center">
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{date}}</td>
                <td>{{questions.length}}</td>
                <td>{{category}}</td>
                <td><label class="badge">Active</label></td>
                <td>
                  <button @click="viewQuestionsModal(i)" class="btn btn-success btn-sm">View Set
                  </button>
                </td>
                <td>
                  <button @click="editSetModal(i)" class="btn btn-info btn-sm"><i class="icon-pencil"></i></button>
                </td>
                <td>
                  <button @click="deleteSet(i)" class="btn btn-danger btn-sm"><i class="icon-trash"></i></button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
