<style>
  td { text-transform: lowercase; }
  td:first-letter { text-transform: uppercase; }
</style>

<!-- Listing survey by region -->
<div id="list">
  <div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>Surveys</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item">Surveys</li>
        <li class="breadcrumb-item active">List</li>
      </ul>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="header">
        <h2>List of Surveys</h2>
      </div>
      <div class="body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped datatable" id="addrowExample">
            <thead>
              <tr style="text-align: center;">
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Address</th>
								<th>Location</th>
                <th>Phone No.</th>
								<th>Phone Status.</th>
								<th>Question Resp.</th>
								<th>Comment</th>
								<th>Call Duration</th>
              </tr>
            </thead>
            <tbody>
							{{#each successSurveys}}
                <tr class="gradeA" style="text-transform: capitalize;">
                  <td>{{name}}</td>
                  <td style="text-align: center;">{{gender}}</td>
                  <td style="text-align: center;">{{race}}</td>
                  <td>{{address}}</td>
                  <td style="text-align: center;">{{location}}</td>
									<td>{{phone}}</td>
                  <td style="text-align: center;">{{status_phone}}</td>
                  <td style="text-align: center;">{{question_survey}}</td>
                  <td>{{comment}}</td>
                  <td style="text-align: center;">{{call_duration}}</td>
                </tr>
							{{/each}}
            </tbody>
            <tfoot>
              <tr style="text-align: center;">
                <th>Name</th>
                <th>Gender</th>
                <th>Race</th>
                <th>Address</th>
								<th>Location</th>
                <th>Phone No.</th>
								<th>Phone Status.</th>
								<th>Question Resp.</th>
								<th>Comment</th>
								<th>Call Duration</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div style="float:right;">
			<button class="btn btn-primary" onclick="back()">Back to Statistics</button>
		</div>
	</div>
</div>
</div>
<script>
  $(document).ready(() => {
    $("table.datatable").dataTable();
  })

	function back(){
		window.location.href = "index.html#result";
	}
</script>