<div class="block-header">
<div class="row">
		<div class="col-lg-5 col-md-8 col-sm-12">
				<h2>Survey</h2>
		</div>
		<div class="col-lg-7 col-md-4 col-sm-12 text-right">
				<ul class="breadcrumb justify-content-end">
						<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item">Operator</li>
						<li class="breadcrumb-item active">Survey</li>
				</ul>
		</div>
</div>
</div>

<div class="row clearfix">
<div class="col-lg-8 col-md-12">
		<div class="card w_profile">
				<div class="body" style="padding-top: 30px; padding-bottom: 30px">
						<div class="row">
								<div class="col-lg-4 col-md-4 col-12">
									{{#if gender}}
										<div class="profile-image float-md-right"> <img src="/img/avatar6.jpg" alt=""> </div>
									{{else}}
										<div class="profile-image float-md-right"> <img src="/img/avatar22.jpg" alt=""> </div>
									{{/if}}
								</div>
								<div class="col-lg-8 col-md-8 col-12">
										<h4 class="m-t-0 m-b-0 survey">{{survey.[0].name}}</h4>

										<p class="survey">{{survey.[0].address}}</p>

										<div class="row">
												<div class="col-4">
														<h5 class="survey">{{survey.[0].gender}}</h5>
														<small>Jantina</small>
												</div>
												<div class="col-4">
														<h5 class="survey">{{survey.[0].race}}</h5>
														<small>Bangsa</small>
												</div>
												<div class="col-4">
														<h5 class="survey">{{survey.[0].location}}</h5>
														<small>Lokasi</small>
												</div>
										</div>
										<div class="m-t-15">
												<button id="startButton" class="btn btn-primary js-sweetalert">Mula Survey</button>
												<button id="resetButton" class="btn btn-success">Reset Caller</button>
												<button id="cancelButton" class="btn btn-danger" onclick="cancelSurvey('{{{profile.username}}}')">Cancel Survey</button>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="card">
				<h5 class="card-header">Pembuka Kata</h5>
				<div class="card-body">
						<h5 class="card-title">Pastikan anda tidak tinggikan suara</h5>
						<p class="card-text">Selamat pagi/petang {{survey.[0].name}} haraf maaf kerana menggangu. Saya (Nama Operator) ingin membuat.......</p>

				</div>
		</div>
</div>

<div class="col-lg-4 col-md-12">
		<div class="card member-card">
				<div class="header bg-info">
						<h4 class="m-t-5 text-light"><strong>Operator</strong></h4>
				</div>
				<div class="member-img">
						<a href="javascript:void(0);"><img src="img/avatar2.jpg" class="rounded-circle" alt="profile-image"></a>
				</div>
				<div class="body">
						<div class="col-12">
								<h4 class="m-t-5"><strong>{{profile.username}}</strong></h4>
								<p class="text-muted">13 / 03 / 2019 <br> Lokasi CCS</p>
						</div>
						<hr>
						<div class="row">
								<div class="col-4">
										<h5>0</h5>
										<small>Survey Berjaya</small>
								</div>
								<div class="col-4">
										<h5>{{profile.laptop_id}}</h5>
										<small>Caller ID</small>
								</div>
								<div class="col-4">
										<h5>0</h5>
										<small>Jumlah Survey</small>
								</div>
						</div>
				</div>
		</div>
</div>
</div>



<div class="row clearfix">
<div class="col-lg-8 col-md-12">

		<div class="card">
				<div class="header">
						<h2>Nombor Telefon</h2>
				</div>
				<div class="body">
						<div class="table-responsive">
								<table class="table table-hover m-b-0 c_list datatable">
										<thead>
										<tr>
												<th>
														<label class="fancy-checkbox">
																<input class="select-all" type="checkbox" name="checkbox">
																<span></span>
														</label>
												</th>
												<th>Phone</th>
												<th>Tindakan</th>
												<th>Status</th>
										</tr>
										</thead>
										<tbody>
											{{#each phone}}
										<tr>
												<td style="width: 50px;">
														<label class="fancy-checkbox">
																<input class="checkbox-tick" type="checkbox" name="checkbox">
																<span></span>
														</label>
												</td>

												<td>
														<span class="phone"><i class="fa fa-phone m-r-10"></i>{{this}}</span>
												</td>
												<td>
														<button type="button" class="btn btn-info" title="Edit"><i class="icon-call-out"></i></button>
														<button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i class="fa fa-refresh"></i></button>
												</td>
												<td>
														<select class="custom-select" name="phone" id="p{{index @index}}" required>
																<option style="text-align:center;" selected>--- Pilih ---</option>
																<option value="Salah No">Salah Nombor</option>
																<option value="Tak Wujud">Tidak Wujud</option>
																<option value="Hubungi Kemudian">Hubungi Kemudian</option>
																<option value="Tak Minat">Tidak Berminat</option>
														</select>
												</td>
										</tr>
										{{/each}}
										</tbody>
								</table>
						</div>
				</div>
		</div>

		<div class="card">
				<div class="header">
					<h2>{{ques.set_name}}</h2>
				</div>
				<div class="body">
						<div class="table-responsive">
								<table class="table table-hover m-b-0">
										<thead>
										<tr>
												<th>Soalan</th>
												<th>Ya</th>
												<th>Tidak</th>
												<th>Tak Pasti</th>
										</tr>
										</thead>
										<tbody>
										{{#each soalan}}
										<tr>
												<td>
														<p>{{this}}</p>
												</td>
												<td>
														<div class="fancy-radio">
																<label><input id="q{{index @index}}" name="soalan {{index @index}}" value="Ya" type="radio"><span><i></i>Ya</span></label>
														</div>
												</td>
												<td>
														<div class="fancy-radio">
																<label><input id="q{{index @index}}" name="soalan {{index @index}}" value="Tidak" type="radio"><span><i></i>Tidak</span></label>
														</div>
												</td>
												<td>
														<div class="fancy-radio">
																<label><input id="q{{index @index}}" name="soalan {{index @index}}" value="Tidak Pasti" type="radio"><span><i></i>Tak Pasti</span></label>

														</div>
												</td>
										</tr>
										{{/each}}
										</tbody>
								</table>
						</div>

				</div>
		</div>
</div>
<div class="col-lg-4 col-md-12">
		<div class="card">
				<div class="header">
						<h2>Comments <small>Komen yang diterima daripada pemanggil.</small></h2>
				</div>
				<div class="body">
						<h6>Jenis Komen</h6>
						<div class="input-group mb-3">
								<div class="input-group-prepend">
										<label class="input-group-text" for="comment">Options</label>
								</div>
								<select id="comment" class="custom-select">
										<option style="text-align:center;" selected>--- Pilih ---</option>
										<option value="info">Info</option>
										<option value="wakil rakyat">Wakil Rakyat</option>
										<option value="lain-lain">Lain-Lain</option>
								</select>
						</div>
						<div class="input-group">
								<div class="input-group-prepend">
										<span class="input-group-text">Komen</span>
								</div>
								<textarea class="form-control" id="comment2" aria-label="Komen"></textarea>
						</div>

				</div>
		</div>
		<div class="card">
				<div class="header">
						<h2>Terima kasih kerana membantu kajiselidik ini. Adakah tuan/puan berminat untuk menyumbang kepada pembangunan negeri?</h2>
				</div>
				<div class="body">
						<div class="fancy-radio">
								<label>
									<input name="kawalan" id="status" value="Ya" type="radio" ><span><i></i>Ya</span>
								</label>
								<label>
									<input name="kawalan" id="status" value="Tidak" type="radio" ><span><i></i>Tidak</span>
								</label>
						</div>
				</div>
		</div>
		<div class="card">
				<div class="body">
				<h6>Pastikan semua info di atas ada tepat</h6>
						<button id="stopButton" type="button" class="btn btn-success" onclick="submitSurvey()">Submit</button>
						<button type="button" data-type="confirm" class="btn btn-danger" title="Delete" onclick="resetSurvey()">Reset</button>
				</div>
		</div>
</div>
</div>
<script>

	$("#q1, #q2, #q3, #status").prop('checked', false);

	$(".survey").text(function () {
    return $(this).text().replace(/(\w)(\w*)/g, (_, firstChar, rest) => firstChar + rest.toLowerCase()); 
	});
	
	var timer = new Timer();

	$("#startButton").click(function(){
		timer.start();
		Swal.fire({
			title: "Survey",
			text: "The time starts now !",
			type: "success"
		});
	})

	$("#stopButton").click(function(){
		timer.stop();
	})

	$("#resetButton").click(function(){
		timer.reset();
		Swal.fire({
			title: "Survey",
			text: "The time has reset !",
			type: "warning"
		});
	})
	
	function resetSurvey(){
		$("#q1, #q2, #q3, #status").prop('checked', false);
		$('#comment, select[name="phone"]').prop('selectedIndex',0);
		$('#comment2').val('');
	}

	var question_response;

	async function submitSurvey() {
		try {
			var time_taken = timer.getTimeValues().toString()
			var arr = []	//question survey
			var arr2 = [] //phonestatus
			var num = {{length soalan}}
			var num2 = {{length phone}}
			var survey = {{{json survey}}}
			var profile = {{{json profile}}}
			for (i = 1; i <= num; i++) {
				arr.push($(`input[id="q${i}"]:checked`).val());
			}
			for (i = 1; i <= num2; i++) {
				arr2.push($(`select[id="p${i}"]`).val());
			}

			var comment = []
			comment.push($('select[id="comment"]').val())
			comment.push($('textarea#comment2').val())

			var status_survey = $(`input[id="status"]:checked`).val()

			var formData = JSON.stringify({
				id: survey[0].id,
				gender: survey[0].gender,
				phone: survey[0].phone,
				race: survey[0].race,
				name:survey[0].name,
				address: survey[0].address,
				question_survey: arr,
				comment: comment,
				status_survey: status_survey,
				call_duration: time_taken,
				operator_id: profile.username,
				status_phone: arr2,
				status: 0,
			});

			Swal.fire({
				title: "Survey",
				text: "Please refill the form",
				type: "error"
			}).then(result => {
						if (result.value) {
							window.location.reload();
						}
			});
			var id = survey[0].id
			const updateStatus = await fetch(`{{url}}survey/${id}/edit`, {
				method: "post",
				headers: {
				credentials: 'include',
				Accept: "application/json",
				"Content-type": "application/json",
				Authorization: `bearer ${sessionStorage.getItem("token")}`,
				'Cache-Control': 'no-cache'
				},
				body: formData
			});

			const updated = await updateStatus.json();
			if(updated.status){
				Swal.fire({
					title: "Survey",
					text: "Survey submitted !",
					type: "success"
				}).then(result => {
							if (result.value) {
								window.location.href = "index.html";
							}
				});
			}
		} catch(err) { 
			console.log(err) }
		}	

async function cancelSurvey(name){
    try {
      var survey = {{{ json survey }}}
			var id = survey[0].id
      var formData = JSON.stringify({
        id: survey[0].id,
        gender: survey[0].gender,
        phone: survey[0].phone,
        race: survey[0].race,
        name:survey[0].name,
        address: survey[0].address,
        question_survey: null,
        comment: null,
        status_survey: null,
        call_duration: null,
        operator_id: name,
        status_phone: null,
        status: 2
      });
      const updateStatus = await fetch(`{{url}}survey/${id}/edit`, {
        method: "post",
        headers: {
        credentials: 'include',
        Accept: "application/json",
        "Content-type": "application/json",
        Authorization: `bearer ${sessionStorage.getItem("token")}`,
				'Cache-Control': 'no-cache'
        },
        body: formData
      });

      const cancel = await updateStatus.json();

      if (cancel.status) {
        window.location.href = "index.html";
      } else {
        Swal.fire({
          title: "Fail",
          text: "Unable to cancel survey",
          type: "error"
        });
      }
    } catch (err) { 
      console.log(err) 
			}
}	
</script>