<div class="block-header">
        <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2>Operator</h2>
                </div>
                <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <ul class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                                <li class="breadcrumb-item">Tetapan</li>
                                <li class="breadcrumb-item active">Operator</li>
                        </ul>
                </div>
        </div>
</div>

<div class="row clearfix">
        <div class="col-lg-12">
                <div class="card">
                        <div class="header">
                                <h2>Senarai Operator</h2>
                        </div>
                        <div class="body">
                                <button id="addToTable" class="btn btn-primary m-b-15" type="button">
                                        <i class="icon wb-plus" aria-hidden="true"></i> Tambah Operator
                                </button>
                                <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped"
                                                id="addrowExample">
                                                <thead>
                                                        <tr>
                                                                <th>Full Name</th>
                                                                <th>Username</th>
                                                                <th>Age</th>
                                                                <th>Gender</th>
                                                                <th>Race</th>
                                                                <th>Laptop ID</th>
                                                                <th>Region</th>
                                                                <th>Actions</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        {{#each res}}
                                                                <tr class="gradeA">
                                                                        <td>{{fullname}}</td>
                                                                        <td>{{username}}</td>
                                                                        <td>{{age}}</td>
                                                                        <td>{{gender}}</td>
                                                                        <td>{{race}}</td>
                                                                        <td>{{laptop_id}}</td>
                                                                        <td>{{region}}</td>
                                                                        <td class="actions">
                                                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
                                                                                        data-toggle="tooltip"
                                                                                        data-original-title="Save"
                                                                                        hidden><i class="icon-drawer"
                                                                                                aria-hidden="true"></i></button>
                                                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
                                                                                        data-toggle="tooltip"
                                                                                        data-original-title="Discard"
                                                                                        hidden><i class="icon-close"
                                                                                                aria-hidden="true"></i></button>
                                                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                                                                        data-toggle="tooltip"
                                                                                        data-original-title="Edit"><i
                                                                                                class="icon-pencil"
                                                                                                aria-hidden="true"></i></button>
                                                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                                                                        data-toggle="tooltip"
                                                                                        data-original-title="Remove"><i
                                                                                                class="icon-trash"
                                                                                                aria-hidden="true"></i></button>
                                                                        </td>
                                                                </tr>
                                                        {{/each}}
                                                </tbody>
                                                <tfoot>
                                                        <tr>
                                                                <th>Full Name</th>
                                                                <th>Username</th>
                                                                <th>Age</th>
                                                                <th>Gender</th>
                                                                <th>Race</th>
                                                                <th>Laptop ID</th>
                                                                <th>Region</th>
                                                                <th>Actions</th>
                                                        </tr>
                                                </tfoot>
                                        </table>
                                </div>
                        </div>
                </div>
        </div>
</div>
